@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

*{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif !important;
}

#AppBody, .welcome-bg {
  background-image: url("@/assets/img/bg/welcome_1.svg");
  background-color: #21201D;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  z-index: 90;
}

main {
  height: 85vh !important;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

main::-webkit-scrollbar { width: 0 !important; display: none !important; }

main { overflow: -moz-scrollbars-none !important }

main { -ms-overflow-style: none !important }

footer {
  height: 15vh !important;
  overflow: hidden;
}

#Footer {
  background-color: transparent;
}

.scroller {
  box-shadow: 0 0 40px rgba(215, 213, 213, 0.5);
}

.title {
  font-family: 'Pacifico', cursive;
  color: #f8f8f8;
  font-size: 2.5rem;
}

.text-fiberX {
  color: #FFCC00;
}

.text-fiberX-main {
  color: #1A1A1A;
}

.text-fiberX-sub-text {
  color: #8A8A8A;
}
.text-fiberX-sloganr-text { color: #8A8A8A }

.contact-form-input {
  background-color: #f2f6f8;
  border-radius: 2rem;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
  height: 3.3rem;
  padding: .5rem 0 .5rem 3.5rem;

  &:focus {
    background-color: #f2f6f8;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
  }
}

	
.message .form-control {
    padding: .5rem 1.8rem;
    border-radius: 2rem;
}

::placeholder {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #838788;
  position: relative;
  left: 0;
}

input,
textarea {
  font-family: 'Quicksand', sans-serif;
  color: #212529;
  font-size: 1.1rem;
}

.icon {
  color: #57565c;
  height: 1.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.1rem;
}

.btn.btn-primary {
  font-family: 'Quicksand', sans-serif;
	font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 2rem;
  border: 0;
  border-radius: 3rem;
  background-image:linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}

.default-slider .swiper-slide {
  display: flex;
  width: 100%;
  background-color: #FFCC00;
  border-radius: 0.5rem;
  height: 350px !important;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.swiper-button-next, 
.swiper-button-prev {
  height: 50px;
  width: 50px;
  border-radius: 50% !important;
  padding: 1rem !important;
  background-color: #21201D !important;
  color: white !important;
  box-shadow: 0 0 40px rgba(215, 213, 213, 0.5);

  &:after {
    position: absolute;
    top: 50%;
    left: 50%; 
    font-size: 20px;
    font-weight: 900;
    transform: translate(-50%, -50%);

  }
}

.swiper-pagination-bullet { background-color: #ffffff !important; }

.swiper-pagination-bullet-active { background-color: #FFCC00 !important; }

.swiper-initialized { padding: 2.5rem 0rem;}

.semi{
  z-index: 100;
  background-color: inherit;
  background-repeat: inherit;
  background-size: inherit;
}

.top-image { transition: opacity 0.5s ease; }

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-card:hover .top-image { opacity: 0;}

.image-card:hover .hover-image { opacity: 1; }

.mission-bg {
  background-image: url("@/assets/img/bg/mission_1.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-bg { background-color: #3d3c3c44;}